<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ng.trainplan.sportplan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="com.ng.trainplan.sportplan.SportPlanApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ng.trainplan.sportplan.activity.ItemListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ng.trainplan.sportplan.activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.ng.trainplan.sportplan.activity.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.ng.trainplan.sportplan.trainingsession.ui.TrainingSessionDetailActivity"
            android:label="@string/title_training_session_detail"
            android:parentActivityName="com.ng.trainplan.sportplan.activity.ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ng.trainplan.sportplan.activity.ItemListActivity." />
        </activity>
        <activity
            android:name="com.ng.trainplan.sportplan.person.ui.MemberOverviewActivity"
            android:label="@string/title_member_list"
            android:parentActivityName="com.ng.trainplan.sportplan.activity.ItemListActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.ng.trainplan.sportplan.activity.ParticipantListActivity"
            android:label="@string/title_member_overview"
            android:parentActivityName=".ParticipantListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MemberListActivity" />
        </activity>
    </application>

</manifest>